# ==========================================
# 1. GIT Y VARIABLES DE ENTORNO (¡Seguridad!)
# ==========================================
.git/
.gitignore
.env
*.md

# ==========================================
# 2. FRONTEND (Angular / Node.js)
# ==========================================
node_modules/
dist/
npm-debug.log
.angular/

# ==========================================
# 3. BACKEND (Python: FastAPI / Flask)
# ==========================================
__pycache__/
*.pyc
*.pyo
venv/
env/
.pytest_cache/

# ==========================================
# 4. JAVA / SPRING BOOT
# ==========================================
target/
*.class
.mvn/
